.nome {
  margin-bottom: 3% !important;
}
button#Enviar {
  margin-right: 45% !important;
  border-radius: 5px;
  border-color: black;
}
.img1 {
  margin-left: 8% !important;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 7% !important;
}

.video {
  margin-left: 27% !important;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 4% !important;
}
h3,
.post {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: red;
  margin-top: 30px;
}
.root {
  margin-top: 15px !important;
  margin-left: 30%;
  height: 500px;
}
p {
  width: 940px;
  margin-top: 25px !important;
  margin-left: 22% !important;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  color: red;
  text-align: center;
  margin-top: 30px;
}
