* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(192, 160, 223);
}
h1 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-align: center;
}
a {
  text-decoration: none;
}
select#raca {
  width: 320px;
  height: 35px;
  display: flex;
  margin: auto;
  padding: 0;
  background: white;
  margin-top: 60px;
  border-radius: 15px;
}
